@{
    ViewData["Title"] = "Dashboard";
}

<p class="text-muted">Sistemin genel durumu.</p>

<div class="row g-3 my-2">
    <div class="col-md-4">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2">0</h3> <p class="fs-5 text-muted">Toplam Kitap</p>
            </div>
            <i class="fas fa-book fs-1 primary-text border rounded-full secondary-bg p-3"></i>
        </div>
    </div>

    <div class="col-md-4">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2 text-primary">1</h3> <p class="fs-5 text-muted">Kullanıcı Sayısı</p>
            </div>
            <i class="fas fa-users fs-1 primary-text border rounded-full secondary-bg p-3"></i>
        </div>
    </div>

    <div class="col-md-4">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2 text-warning">0</h3>
                <p class="fs-5 text-muted">Aktif Ödünç Alımlar</p>
            </div>
            <i class="fas fa-hand-holding fs-1 primary-text border rounded-full secondary-bg p-3"></i>
        </div>
    </div>

    <div class="col-md-4">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2 text-info">0</h3>
                <p class="fs-5 text-muted">Toplam İnceleme</p>
            </div>
            <i class="fas fa-star fs-1 primary-text border rounded-full secondary-bg p-3"></i>
        </div>
    </div>
</div>

<div class="row my-5">
    <div class="col-12">
        <div class="bg-white p-4 rounded shadow-sm">
            <h3 class="mb-3">Hızlı Erişim</h3>
            <div class="list-group">
                <a href="/Books/Index" class="list-group-item list-group-item-action border-0">
                    <i class="fas fa-book-medical me-2 text-success"></i> Kitap Yönetimi
                </a>
                <a href="#" class="list-group-item list-group-item-action border-0">
                    <i class="fas fa-exchange-alt me-2 text-primary"></i> Ödünç İşlemleri
                </a>
                <a href="#" class="list-group-item list-group-item-action border-0">
                    <i class="fas fa-star me-2 text-warning"></i> İncelemeler
                </a>
                <a href="/Users/Index" class="list-group-item list-group-item-action border-0">
                    <i class="fas fa-user-cog me-2 text-dark"></i> Kullanıcı Yönetimi
                </a>
            </div>
        </div>
    </div>
</div>