/* KÝTAP KARTLARI TASARIMI */

/* Kitap kapaðý yerine geçen Dikey Gri Kutu */
.book-cover-placeholder {
    background-color: #e0e0e0; /* Resimdeki açýk gri tonu */
    height: 350px; /* Yüksekliði artýrdýk (Dikey dikdörtgen) */
    width: 100%;
    position: relative;
    border-radius: 4px; /* Köþeleri daha az yuvarladýk */
    transition: transform 0.2s;
}

/* Mouse ile üzerine gelince hafif yukarý kalksýn (Efekt) */
.book-card-container:hover .book-cover-placeholder {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

/* Sol Üstteki (+) Ýkonu */
.add-icon-btn {
    position: absolute;
    top: 15px;
    left: 15px; /* SAÐDAN SOLA ALINDI */
    color: #333;
    font-size: 1.2rem;
    background: rgba(255, 255, 255, 0.8); /* Biraz daha belirgin arka plan */
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s;
    z-index: 10; /* Diðer öðelerin üstünde kalsýn */
}

    .add-icon-btn:hover {
        background-color: #333;
        color: #fff;
        cursor: pointer;
    }
.blink-animation {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}